html {
   font-family: 'Dancing Script', cursive;
   font-size: 25px;
 }
body{
  background-color: #FADBD8;
  background-image: url(../img/mar.jpeg);
  background-position: 0px 0px;
	background-repeat: no-repeat;
	animation: animatedBackground 15s linear infinite;
}
.barco{
  height: 150px;
  background-image: url(../img/barco.jpg);
  background-position: 0px 0px;
	background-repeat: no-repeat;
	animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}
.img{
  height: 300px;
}
.side-nav li>a{
  font-size: 23px;
}
.side-nav .userView{
  height: 250px;
  object-position:top;
}
.card.horizontal .card-stacked, .side-nav{
  background-color: #FADBD8;
}
.modal-contenido{
  background-color:#D7BDE2;
  width:100%;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  transition: all 1s;
}
